<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Edit Prescription</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
  	
  	 <!-- Bootstrap Core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    
</head>

<body>
	

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h2>Edit Prescription</h2>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
               
               
                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Logout<i class="fa fa-caret-down"></i>
                    </a>
                    
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Prescription<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/home/">My Prescriptions</a>
                                </li>
                                <li>
                                    <a href="/admin/createPres/">Create Prescription</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                       
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Report</a>
                        </li>
                      
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit Prescription</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <div class="row">
                                <div class="col-lg-6 col-lg-offset-1">
                                    <form autocomplete="off" action="#" th:action="@{/admin/editPres}"
					th:object="${prescription}" method="post" class="form-horizontal"
					role="form">
                                        
                                <input class="form-control"  th:value="${editing_pres.id}" type="hidden" name="id" id="id" > 
                                       
                                        <div class="form-group">
                                        <label>Prescription Date *</label>
                                        
                                            <input class="form-control" th:value="${editing_pres.prescriptionDate}" name="prescriptionDate" id="prescriptionDate" type="date" required>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Patient Name * </label>
                                            <input class="form-control"  th:value="${editing_pres.patientName}" type="text" name="patientName" id="patientName" required>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Patient Age * </label>
                                            <input class="form-control"  th:value="${editing_pres.patientAge}" name="patientAge" id="patientAge" type="number" required>
                                        </div>
                                        
                                        
                                        
                                        <div class="form-group">
                                        
                                        
                                        <label>Patient Gender * </label>
                                        <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="patientGender" id="patientGenderMale" value="male"  th:checked="${editing_pres.patientGender}" required>
  <label class="form-check-label" for="inlineRadio1">Male</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="patientGender" id="patientGenderFemale" value="female" th:checked="${editing_pres.patientGender}" required>
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>

</div>

<div class="form-group">
                                       <label>Diagnosis</label>     
                                            <textarea class="form-control" rows="3" th:text="${editing_pres.diagnosis}" name="diagnosis" id = "diagnosis"></textarea>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Medicines </label>
                                            <textarea class="form-control" rows="3" th:text="${editing_pres.medicines}" name="medicines" id = "medicines"></textarea>
                                        </div>
                                        
                                        <div class="form-group">
                                        <label>Next Visit Date</label>
                                        
                                            <input class="form-control" th:value="${editing_pres.nextVisit}" name="nextVisit" id="nextVisit" type="date" >
                                        </div>
                                        
                                        <div class="form-group">
						<div align="center" >
							<button type="submit" class="btn btn-primary btn-block">Update prescription</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
                                        
                                        
                         </form>
                         </div>
                         </div>
           
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/raphael/raphael.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/morrisjs/morris.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>

</body>

</html>
