<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="assets/img/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Admin Panel - Dashboard</title>

<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />

<div th:replace="dash/header :: header"></div>


<style>
.pagination-centered {
    text-align: center;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.pointer-disabled {
    pointer-events: none;
}
</style>



</head>
<body>

	<div class="wrapper">
		<div th:replace="dash/sidebar :: sidebar"></div>

		<div class="main-panel">
			<div th:replace="dash/navbar :: navbar"></div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="header">
									<h4 class="title">Orders</h4>
									<p class="category">List of all orders</p>
								</div>
								<div class="content table-responsive table-full-width">
								
								
								
								<table class="table table-striped">
                                    <thead>
                                        <th>Order ID</th>
                                    	<th>Profile Information</th>
                                    	<th>Order Information</th>
                                    	<th>Payment Information</th>
                                    	<th>Delivery Information</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="clientlist : ${clientlist}">
                                        	<td th:text="${clientlist.id}">1</td>
                                        	<td>
                                                <ul class="list-unstyled">
                                                    <li th:text="@{Name: } + ${clientlist.user.firstName} +${clientlist.user.lastName}">
                                                       
                                                    </li>
                                                    <li th:text="@{Company Name: } + ${clientlist.user.companyName} ">
                                                        
                                                    </li>
                                                   
                                                </ul>
                                            </td>
                                        	<td>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        Services: [List of ordered services go here]
                                                    </li>
                                                    <li>
                                                        Quantities: [List of quantities go here]
                                                    </li>
                                                    <li>
                                                        Vendors: [List of vendors go here]
                                                    </li>
                                                </ul>
                                            </td>
                                        	<td>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        Payment Type: Cash on Delivery
                                                    </li>
                                                    <li>
                                                        Discount: None
                                                    </li>
                                                    <li>
                                                        Delivery Fee: 100
                                                    </li>                                                    
                                                    <li>
                                                        Service Charge: 100
                                                    </li>                                                    
                                                    <li>
                                                        Commission: 13%
                                                    </li>
                                                    <li>
                                                        Vendor payable: 21750
                                                    </li>
                                                    <li>
                                                        Subtotal: 24800
                                                    </li>
                                                    <li>
                                                        <strong>Total: 25000</strong>
                                                    </li>
                                                </ul>
                                            </td>
                                        	<td>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        Deliver Address: [Address goes here]
                                                    </li>
                                                    <li>
                                                        Contant Information: [Phone goes here]
                                                    </li>
                                                    <li>
                                                        Outside Dhaka?: Yes/No [Either one will show here]
                                                    </li>
                                                </ul>   
                                            </td>
                                        </tr>
                                       
                                      
                                    </tbody>
                                </table>
								
								

								</div>
								
								
								
								
								
								 <div class="row">
								 
                <div class="form-group col-md-1"> </div>
                <div class="form-group col-md-2"> 
                    <select class="form-control pagination" id="pageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                            th:value="${pageSize} "
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${clientlist.totalPages != 1}"
                    class="form-group col-md-9 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${clientlist.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{${baseUrl}(pageSize=${selectedPageSize}, page=1)}">«</a>
                        </li>
                        <li th:class="${clientlist.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{${baseUrl}(pageSize=${selectedPageSize}, page=${clientlist.number})}">←</a>
                        </li>
                        <li
                            th:class="${clientlist.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="pageLink"
                            th:href="@{${baseUrl}(pageSize=${selectedPageSize}, page=${page})}"
                            th:text="${page}"></a>
                        </li>
                        <li
                            th:class="${clientlist.number + 1 == clientlist.totalPages} ? disabled">
                            <a class="pageLink"
                            th:href="@{${baseUrl}(pageSize=${selectedPageSize}, page=${clientlist.number + 2})}">→</a>
                        </li>
                        <li
                            th:class="${clientlist.number + 1 == clientlist.totalPages} ? disabled">
                            <a class="pageLink"
                            th:href= "@{${baseUrl}(pageSize=${selectedPageSize}, page=${clientlist.totalPages})}">»</a>
                        </li>
                    </ul>
                </div>
            </div>
    
								
								
								
								
							</div>
							
						</div>

					</div>
				</div>
			</div>

			<div th:replace="dash/footer :: footer"></div>
		</div>

	</div>
	
	
	
  
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
    changePageAndSize();
});
function changePageAndSize() {
	
	
	
	
    $('#pageSizeSelect').change(function(evt) {
    	var baseUrl = /*[[${baseUrl}]]*/ '';
        window.location.replace( baseUrl + "?pageSize=" + this.value + "&page=1");
    });
}
        /*]]>*/
    </script>
    
</body>



</html>
