<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Cart  | Event Factory</title>

<div th:replace="commons :: head"></div>
    </head>

    <body class="page home page-template-default">
        <div id="page" class="hfeed site">
            <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

  
            <div th:replace="iCommons :: header"></div>
           
            

             <div id="content" class="site-content" tabindex="-1">
            	<div class="container">
            		<div id="primary" class="content-area">
            			<main id="main" class="site-main">
            				
            				
            				
            				
            				<article class="page type-page status-publish hentry">
            					<header class="entry-header">
            					<br>
            					<h1 itemprop="name" class="entry-title">Cart</h1></header><!-- .entry-header -->

            					<form>

                                    <table class="shop_table shop_table_responsive cart" id="mytable">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">&nbsp;</th>
                                                <th class="product-thumbnail">&nbsp;</th>
                                                <th class="product-name">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                           
                                                
                                         
                                            
                                            <tr>
                                                <td class="actions" colspan="6">

                                                    <div class="coupon">

                                                        <label for="coupon_code">Coupon:</label> <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code"> <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">

                                                    </div>

                                                    <input type="submit" value="Update Cart" name="update_cart" class="button">

                                                    <div class="wc-proceed-to-checkout">

                                                        <a class="checkout-button button alt wc-forward" href="/checkout">Proceed to Checkout</a>
                                                    </div>

                                                    <input type="hidden" value="1eafc42c5e" name="_wpnonce"><input type="hidden" value="/electro/cart/" name="_wp_http_referer">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
            					<div class="cart-collaterals">

                                    <div class="cart_totals ">

                                        <h2>Cart Totals</h2>

                                        <table class="shop_table shop_table_responsive">

                                            <tbody>
                                            
                                        
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td data-title="Subtotal"><span class="amount">$3,299.00</span></td>
                                                </tr>



                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td data-title="Total"><strong><span class="amount">$3,599.00</span></strong> </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="wc-proceed-to-checkout">

                                            <a class="checkout-button button alt wc-forward" href="/checkout">Proceed to Checkout</a>
                                        </div>
                                    </div>
                                </div>
            				</article>
            				
            				
            				
            				
            				
            				
            				
            				
            			</main><!-- #main -->
            		</div><!-- #primary -->
            	</div><!-- .col-full -->
            </div><!-- #content -->




            
        <div th:replace="commons :: footer"></div>

        </div><!-- #page -->

<script type="text/javascript">

function iniata() {
	

	var cartJson;

	console.log('initial data sdfgsdfsdf');

	var cartRaw = localStorage.getItem('cartx');
	if (cartRaw != null) {
		cartJson = JSON.parse(cartRaw);
		
		console.log(cartJson);
		
		var i;
		for (i = 0; i < cartJson.length; i++) { 
			
			console.log('goging for it');
			var cartItem = cartJson[i];
			console.log(cartItem);
			
			
			//document.getElementById("cart_fucking").appendChild(nodeo);
			
			 var tr="<tr>";
        var td1="<td>"+cartItem.id+"</td>";
        var td2="<td>"+cartItem.name+"</td>";
        var td3="<td>"+cartItem.price+"</td>";
        var td4="<td>"+cartItem.quantity+"</td></tr>";

     document.getElementById("mytable").append(tr+td1+td2+td3+td4); 
       
			
		}
	} 
}

window.onload = iniata;
</script>
    </body>
</html>
