<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Event Factory </title>

  <div th:fragment="head">

        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        

         <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
         

         <link th:href="@{/css/animate.min.css}" rel="stylesheet" type="text/css"/>
         

         <link th:href="@{/css/font-electro.css}" rel="stylesheet" type="text/css"/>
         

         <link th:href="@{/css/owl-carousel.css}" rel="stylesheet" type="text/css"/>
         

         <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>

         <link th:href="@{/css/colors/yellow.css}" rel="stylesheet" type="text/css"/>
         

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>
</div>
         
    </head>

    <body >
    
    
     <div class="page home page-template-default">
     
        <div id="page" class="hfeed site">
        
        
         <div th:fragment="header">
            <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

            <div class="top-bar hidden-md-down">
                <div class="container">
                   
                    <nav>
                        <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
                            
                            <li class="menu-item animate-dropdown"><a title="My Account" href="my-account.html"><i class="ec ec-user"></i>My Account</a></li>
                        </ul>
                    </nav>
                </div>
            </div><!-- /.top-bar -->


            <header id="masthead" class="site-header header-v1">
                <div class="container hidden-md-down">
                    <div class="row" th:fragment="header-upper">

                        <!-- ============================================================= Header Logo ============================================================= -->
                        <div class="header-logo">
                        	<a href="/" class="header-logo-link">
                        		<img th:src="@{/images/event_logo.png}"
					class="img-responsive center-block" style="height:80px;"
					alt="Logo" />
                        	</a>
                        </div>
                        <!-- ============================================================= Header Logo : End============================================================= -->

                        <form class="navbar-search" method="get" action="/">
                        	<label class="sr-only screen-reader-text" for="search">Search for:</label>
                        	<div class="input-group">
                        		<input type="text" id="search" class="form-control search-field" dir="ltr" value="" name="s" placeholder="Search for services" />
                        		<div class="input-group-addon search-categories">
                        			
                        			<select >
											<option th:each="clientlist : ${clientlist}" 
												th:text="${clientlist.name}" th:value="${clientlist.id} "
												></option>
										</select>
                        			
                        			
                        			
                        		</div>
                        		<div class="input-group-btn">
                        			<input type="hidden" id="search-param" name="post_type" value="product" />
                        			<button type="submit" class="btn btn-secondary"><i class="ec ec-search"></i></button>
                        		</div>
                        	</div>
                        </form>
                        <ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip">
                        	<li class="nav-item dropdown">
                        		<a href="cart.html" class="nav-link" data-toggle="dropdown">
                        			<i class="ec ec-shopping-bag"></i>
                        			<span class="cart-items-count count">4</span>
                        			<span class="cart-items-total-price total-price"><span class="amount">&#36;1,215.00</span></span>
                        		</a>
                        		<ul class="dropdown-menu dropdown-menu-mini-cart">
                        			<li>
                        				<div class="widget_shopping_cart_content">

                        					<ul class="cart_list product_list_widget ">


                        						<li class="mini_cart_item">
                        							<a title="Remove this item" class="remove" href="#">×</a>
                        							<a href="single-product.html">
                        								<img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="assets/images/products/mini-cart1.jpg" alt="">White lumia 9001&nbsp;
                        							</a>

                        							<span class="quantity">2 × <span class="amount">£150.00</span></span>
                        						</li>


                        						<li class="mini_cart_item">
                        							<a title="Remove this item" class="remove" href="#">×</a>
                        							<a href="single-product.html">
                        								<img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="assets/images/products/mini-cart2.jpg" alt="">PlayStation 4&nbsp;
                        							</a>

                        							<span class="quantity">1 × <span class="amount">£399.99</span></span>
                        						</li>

                        						<li class="mini_cart_item">
                        							<a data-product_sku="" data-product_id="34" title="Remove this item" class="remove" href="#">×</a>
                        							<a href="single-product.html">
                        							<img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="assets/images/products/mini-cart3.jpg" alt="">POV Action Cam HDR-AS100V&nbsp;

                        							</a>

                        							<span class="quantity">1 × <span class="amount">£269.99</span></span>
                        						</li>


                        					</ul><!-- end product list -->


                        					<p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p>


                        					<p class="buttons">
                        						<a class="button wc-forward" href="cart.html">View Cart</a>
                        						<a class="button checkout wc-forward" href="checkout.html">Checkout</a>
                        					</p>


                        				</div>
                        			</li>
                        		</ul>
                        	</li>
                        </ul>

                        
                    </div><!-- /.row -->

                    <div class="row" th:fragment="header-sidebar">
                        <div class="col-xs-12 col-lg-3">
                            <nav>
                                <ul class="list-group vertical-menu yamm make-absolute">
                                    <li class="list-group-item"><span><i class="fa fa-list-ul"></i> All Services</span></li>

                                    
                                  
                                   

                                    <li id="menu-item-2695" class="menu-item menu-item-has-children animate-dropdown dropdown" th:each="clientlist : ${clientlist}">
                                        <a data-hover="dropdown" href="product-category.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"  th:text="${clientlist.name}">A</a>
                                        <ul role="menu" class=" dropdown-menu"  th:each="service : ${clientlist.Services}" >
                                              <li class="menu-item animate-dropdown"><a th:href="@{/service?id=} + ${service.id}" th:text="${service.name}" >L</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                       
                    </div>
                </div>

                <div class="container hidden-lg-up">
                    <div class="handheld-header">

                        <!-- ============================================================= Header Logo ============================================================= -->
                        <div class="header-logo">
                            <a href="home.html" class="header-logo-link">
                               
                            </a>
                        </div>
                        <!-- ============================================================= Header Logo : End============================================================= -->

                        
                    </div>
                </div>

            </header><!-- #masthead -->

            </div>
             </div>
</div>
           <div th:fragment="footer">

            <footer id="colophon" class="site-footer">
            	<div class="footer-widgets">
            		<div class="container">
            			<div class="row">
            				<div class="col-lg-4 col-md-4 col-xs-12">
            					<aside class="widget clearfix">
            						<div class="body">
            							<h4 class="widget-title">Featured Products</h4>
            							<ul class="product_list_widget">
            								<li>
            									<a href="single-product.html" title="Tablet Thin EliteBook  Revolve 810 G6">
            										<img class="wp-post-image" data-echo="assets/images/footer/1.jpg" src="assets/images/blank.gif" alt="">
            										<span class="product-title">Tablet Thin EliteBook  Revolve 810 G6</span>
            									</a>
            									<span class="electro-price"><span class="amount">&#36;1,300.00</span></span>
            								</li>

            								<li>
            									<a href="single-product.html" title="Smartphone 6S 128GB LTE">
            										<img class="wp-post-image" data-echo="assets/images/footer/2.jpg" src="assets/images/blank.gif" alt=""><span class="product-title">Smartphone 6S 128GB LTE</span>
            									</a>
            									<span class="electro-price"><span class="amount">&#36;780.00</span></span>
            								</li>

            								<li>
            									<a href="single-product.html" title="Smartphone 6S 64GB LTE">
            										<img class="wp-post-image" data-echo="assets/images/footer/3.jpg" src="assets/images/blank.gif" alt="">
            										<span class="product-title">Smartphone 6S 64GB LTE</span>
            									</a>
            									<span class="electro-price"><span class="amount">&#36;1,215.00</span></span>
            								</li>
            							</ul>
            						</div>
            					</aside>
            				</div>
            				<div class="col-lg-4 col-md-4 col-xs-12">
            					<aside class="widget clearfix">
            						<div class="body"><h4 class="widget-title">Onsale Products</h4>
            							<ul class="product_list_widget">
            								<li>
            									<a href="single-product.html" title="Notebook Black Spire V Nitro  VN7-591G">
            										<img class="wp-post-image" data-echo="assets/images/footer/3.jpg" src="assets/images/blank.gif" alt="">
            										<span class="product-title">Notebook Black Spire V Nitro  VN7-591G</span>
            									</a>
            									<span class="electro-price"><ins><span class="amount">&#36;1,999.00</span></ins> <del><span class="amount">&#36;2,299.00</span></del></span>
            								</li>

            								<li>
            									<a href="single-product.html" title="Tablet Red EliteBook  Revolve 810 G2">
            										<img class="wp-post-image" data-echo="assets/images/footer/4.jpg" src="assets/images/blank.gif" alt="">
            										<span class="product-title">Tablet Red EliteBook  Revolve 810 G2</span>
            									</a>
            									<span class="electro-price"><ins><span class="amount">&#36;1,999.00</span></ins> <del><span class="amount">&#36;2,299.00</span></del></span>
            								</li>

            								<li>
            									<a href="single-product.html" title="Widescreen 4K SUHD TV">
            										<img class="wp-post-image" data-echo="assets/images/footer/5.jpg" src="assets/images/blank.gif" alt="">
            										<span class="product-title">Widescreen 4K SUHD TV</span>
            									</a>
            									<span class="electro-price"><ins><span class="amount">&#36;2,999.00</span></ins> <del><span class="amount">&#36;3,299.00</span></del></span>
            								</li>
            							</ul>
            						</div>
            					</aside>
            				</div>
            				<div class="col-lg-4 col-md-4 col-xs-12">
            					<aside class="widget clearfix">
            						<div class="body">
            							<h4 class="widget-title">Top Rated Products</h4>
            							<ul class="product_list_widget">
            								<li>
            									<a href="single-product.html" title="Notebook Black Spire V Nitro  VN7-591G">
            										<img class="wp-post-image" data-echo="assets/images/footer/6.jpg" src="assets/images/blank.gif" alt="">
            										<span class="product-title">Notebook Black Spire V Nitro  VN7-591G</span>
            									</a>
            									<div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>		<span class="electro-price"><ins><span class="amount">&#36;1,999.00</span></ins> <del><span class="amount">&#36;2,299.00</span></del></span>
            								</li>

            								<li>
            									<a href="single-product.html" title="Apple MacBook Pro MF841HN/A 13-inch Laptop">
            										<img class="wp-post-image" data-echo="assets/images/footer/7.jpg" src="assets/images/blank.gif" alt="">
            										<span class="product-title">Apple MacBook Pro MF841HN/A 13-inch Laptop</span>
            									</a>
            									<div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>		<span class="electro-price"><span class="amount">&#36;1,800.00</span></span>
            								</li>

            								<li>
            									<a href="single-product.html" title="Tablet White EliteBook Revolve  810 G2">
            										<img class="wp-post-image" data-echo="assets/images/footer/2.jpg" src="assets/images/blank.gif" alt="">
            										<span class="product-title">Tablet White EliteBook Revolve  810 G2</span>
            									</a>
            									<div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>		<span class="electro-price"><span class="amount">&#36;1,999.00</span></span>
            								</li>
            							</ul>
            						</div>
            					</aside>
            				</div>
            			</div>
            		</div>
            	</div>

            	<div class="footer-newsletter">
            		<div class="container">
            			<div class="row">
            				<div class="col-xs-12 col-sm-7">
            					<h5 class="newsletter-title">Sign up to Newsletter</h5>
            					<span class="newsletter-marketing-text">...and receive <strong>2% off!</strong></span>
            				</div>
            				<div class="col-xs-12 col-sm-5">
            					<form>
            						<div class="input-group">
            							<input type="text" class="form-control" placeholder="Enter your email address">
            							<span class="input-group-btn">
            								<button class="btn btn-secondary" type="button">Sign Up</button>
            							</span>
            						</div>
            					</form>
            				</div>
            			</div>
            		</div>
            	</div>

            	<div class="footer-bottom-widgets">
            		<div class="container">
            			<div class="row">
            				<div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
            					<div class="columns">
            						<aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
            							<div class="body">
            								<h4 class="widget-title">Find It Fast</h4>
            								<div class="menu-footer-menu-1-container">
            									<ul id="menu-footer-menu-1" class="menu">
            										<li class="menu-item"><a href="single-product.html">Laptops &#038; Computers</a></li>
            										<li class="menu-item"><a href="single-product.html">Cameras &#038; Photography</a></li>
            										<li class="menu-item"><a href="single-product.html">Smart Phones &#038; Tablets</a></li>
            										<li class="menu-item"><a href="single-product.html">Video Games &#038; Consoles</a></li>
            										<li class="menu-item"><a href="single-product.html">TV &#038; Audio</a></li>
            										<li class="menu-item"><a href="single-product.html">Gadgets</a></li>
            										<li class="menu-item "><a href="single-product.html">Car Electronic &#038; GPS</a></li>
            									</ul>
            								</div>
            							</div>
            						</aside>
            					</div><!-- /.columns -->

            					<div class="columns">
            						<aside id="nav_menu-3" class="widget clearfix widget_nav_menu">
            							<div class="body">
            								<h4 class="widget-title">&nbsp;</h4>
            								<div class="menu-footer-menu-2-container">
            									<ul id="menu-footer-menu-2" class="menu">
            										<li class="menu-item"><a href="single-product.html">Printers &#038; Ink</a></li>
            										<li class="menu-item "><a href="single-product.html">Software</a></li>
            										<li  class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2742"><a href="single-product.html">Office Supplies</a></li>
            										<li  class="menu-item "><a href="single-product.html">Computer Components</a></li>
            									</ul>
            								</div>
            							</div>
            						</aside>
            					</div><!-- /.columns -->

            					<div class="columns">
            						<aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
            							<div class="body">
            								<h4 class="widget-title">Customer Care</h4>
            								<div class="menu-footer-menu-3-container">
            									<ul id="menu-footer-menu-3" class="menu">
            										<li class="menu-item"><a href="single-product.html">My Account</a></li>
            										<li class="menu-item"><a href="single-product.html">Track your Order</a></li>
            										<li class="menu-item"><a href="single-product.html">Wishlist</a></li>
            										<li class="menu-item"><a href="single-product.html">Customer Service</a></li>
            										<li class="menu-item"><a href="single-product.html">Returns/Exchange</a></li>
            										<li class="menu-item"><a href="single-product.html">FAQs</a></li>
            										<li class="menu-item"><a href="hsingle-product.html">Product Support</a></li>
            									</ul>
            								</div>
            							</div>
            						</aside>
            					</div><!-- /.columns -->

            				</div><!-- /.col -->

            				<div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">
            					<div class="footer-logo">
            						
            					</div><!-- /.footer-contact -->

            					<div class="footer-call-us">
            						<div class="media">
            							<span class="media-left call-us-icon media-middle"><i class="ec ec-support"></i></span>
            							<div class="media-body">
            								<span class="call-us-text">Got Questions ? Call us 24/7!</span>
            								<span class="call-us-number">(088) 01521107480</span>
            							</div>
            						</div>
            					</div><!-- /.footer-call-us -->


            					<div class="footer-address">
            						<strong class="footer-address-title">Contact Info</strong>
            						<address>Niketon, Gulshan - 1, Dhaka-1207, Bangladesh</address>
            					</div><!-- /.footer-address -->

            					<div class="footer-social-icons">
            						<ul class="social-icons list-unstyled">
            							<li><a class="fa fa-facebook" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-twitter" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-pinterest" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-linkedin" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-google-plus" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-tumblr" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-instagram" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-youtube" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-rss" href="#"></a></li>
            							</ul>
            					</div>
            				</div>

            			</div>
            		</div>
            	</div>

            	<div class="copyright-bar">
            		<div class="container">
            			<div class="pull-left flip copyright">&copy; <a href="http://demo2.transvelo.in/html/electro/">Electro</a> - All Rights Reserved</div>
            			<div class="pull-right flip payment">
            				<div class="footer-payment-logo">
            					<ul class="cash-card card-inline">
            						<li class="card-item"><img src="assets/images/footer/payment-icon/1.png" alt="" width="52"></li>
            						<li class="card-item"><img src="assets/images/footer/payment-icon/2.png" alt="" width="52"></li>
            						<li class="card-item"><img src="assets/images/footer/payment-icon/3.png" alt="" width="52"></li>
            						<li class="card-item"><img src="assets/images/footer/payment-icon/4.png" alt="" width="52"></li>
            						<li class="card-item"><img src="assets/images/footer/payment-icon/5.png" alt="" width="52"></li>
            					</ul>
            				</div><!-- /.payment-methods -->
            			</div>
            		</div><!-- /.container -->
            	</div><!-- /.copyright-bar -->
            </footer><!-- #colophon -->

  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/tether.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap-hover-dropdown.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/echo.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/wow.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.easing.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.waypoints.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/electro.js}"></script>
        
        </div><!-- #page -->

      
        
        

    </body>
</html>
