<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Event Factory </title>

<div th:replace="commons :: head"></div>
         
    </head>

    <body class="page home page-template-default">
        <div id="page" class="hfeed site">
           
           
           <div th:replace="commons :: header"></div>

            <div id="content" class="site-content" tabindex="-1">
                <div class="container">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="home-v1-slider" >
                            	<!-- ========================================== SECTION – HERO : END========================================= -->

                            	<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                            		<div class="item" style="background-image: url(assets/images/slider/banner-2.jpg);">
                            			<div class="container">
                            				<div class="row">
                            					<div class="col-md-offset-3 col-md-5">
                            						<div class="caption vertical-center text-left">
                            							<div class="hero-1 fadeInDown-1">
                            								The Neweee <br> Standard
                            							</div>

                            							<div class="hero-subtitle fadeInDown-2">
                            								under favorable smartwatches
                            							</div>
                            							<div class="hero-v2-price fadeInDown-3">
                            								from <br><span>$749</span>
                            							</div>
                            							<div class="hero-action-btn fadeInDown-4">
                            								<a href="single-product.html" class="big le-button ">Start Buying</a>
                            							</div>
                            						</div><!-- /.caption -->
                            					</div>
                            				</div>
                            			</div><!-- /.container -->
                            		</div><!-- /.item -->


                            		<div class="item" style="background-image: url(assets/images/slider/banner-1.jpg);">
                            			<div class="container">
                            				<div class="row">
                            					<div class="col-md-offset-3 col-md-5">
                            						<div class="caption vertical-center text-left">
                            							<div class="hero-subtitle-v2 fadeInDown-1">
                            								shop to get what you loves
                            							</div>

                            							<div class="hero-2 fadeInDown-2">
                            								Timepieces that make a statement up to <strong>40% Off</strong>
                             							</div>

                            							<div class="hero-action-btn fadeInDown-3">
                            								<a href="single-product.html" class="big le-button ">Start Buying</a>
                            							</div>
                            						</div><!-- /.caption -->
                            					</div>
                            				</div>
                            			</div><!-- /.container -->
                            		</div><!-- /.item -->

                            		<div class="item" style="background-image: url(assets/images/slider/banner-3.jpg);">
                            			<div class="container">
                            				<div class="row">
                            					<div class="col-md-offset-3 col-md-5">
                            						<div class="caption vertical-center text-left">
                            							<div class="hero-subtitle-v2 fadeInLeft-1">
                            								shop to get what you loves
                            							</div>

                            							<div class="hero-2 fadeInRight-1">
                            								Timepieces that make a statement up to <strong>40% Off</strong>
                             							</div>

                            							<div class="hero-action-btn fadeInLeft-2">
                            								<a href="single-product.html" class="big le-button ">Start Buying</a>
                            							</div>
                            						</div><!-- /.caption -->
                            					</div>
                            				</div>
                            			</div><!-- /.container -->
                            		</div><!-- /.item -->


                            	</div><!-- /.owl-carousel -->

                                <!-- ========================================= SECTION – HERO : END ========================================= -->

                            </div><!-- /.home-v1-slider -->

                            



                           
                        </main><!-- #main -->
                    </div><!-- #primary -->

                </div><!-- .container -->
            </div><!-- #content -->

            











            <div id="content" class="site-content" tabindex="-1">
                <div class="container">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <!-- Main header -->
                            <div class="home-v1-slider" >
                                <!-- ========================================== SECTION – HERO : END========================================= -->
                                <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                                    <div class="item" style="background-image: url(assets/images/slider/banner-3.jpg);">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-offset-10 col-md-2">
                                                    <div class="caption vertical-center text-left">                                                      
                                                        <div class="hero-2 fadeInDown-1">
                                                            <strong>#TeamEF</strong>
                                                        </div>

                                                        <div class="hero-action-btn fadeInDown-2">
                                                            <a href="shop.html" class="big le-button ">Start Buying</a>
                                                        </div>
                                                    </div><!-- /.caption -->
                                                </div><!-- /.col -->
                                            </div>
                                        </div><!-- /.container -->
                                    </div><!-- /.item -->
                                </div><!-- /.owl-carousel -->
                                <!-- ========================================= SECTION – HERO : END ========================================= -->
                            </div><!-- /.home-v1-slider -->
                            <!-- Show categories or vendors here -->
                            <section class="home-list-categories animate-in-view fadeIn animated" data-animation="fadeIn">
                                <header>
                                    <h2 class="h1">Top Services</h2>
                                </header>
                                <ul class="categories">
                                    <li class="category">
                                        <div class="media">
                                            <a class="media-left" href="product-category.html">
                                                <img data-echo="assets/images/products/1.jpg" src="assets/images/blank.gif" alt="">
                                            </a><!-- /.media-left -->

                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="product-category.html">Smart Phones & Tablets</a></h4>
                                                <ul class="sub-categories list-unstyled">
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Accessories</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Chargers</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Powerbanks</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Smartphones</a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.media-body -->
                                        </div><!-- /.media -->
                                        <a class="see-all" href="#">See all</a>
                                    </li>
                                    <li class="category">
                                        <div class="media">
                                            <a class="media-left" href="product-category.html">
                                                <img data-echo="assets/images/products/2.jpg" src="assets/images/blank.gif" alt="">
                                            </a><!-- /.media-left -->

                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="product-category.html">Video Games & Consoles</a></h4>
                                                <ul class="sub-categories list-unstyled">
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Accessories</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Chargers</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Powerbanks</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Smartphones</a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.media-body -->
                                        </div><!-- /.media -->
                                        <a class="see-all" href="#">See all</a>
                                    </li>
                                    <li class="category">
                                        <div class="media">
                                            <a class="media-left" href="product-category.html">
                                                <img data-echo="assets/images/products/3.jpg" src="assets/images/blank.gif" alt="">
                                            </a><!-- /.media-left -->

                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="product-category.html">Gadgets</a></h4>
                                                <ul class="sub-categories list-unstyled">
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Accessories</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Chargers</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Powerbanks</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Smartphones</a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.media-body -->
                                        </div><!-- /.media -->
                                        <a class="see-all" href="#">See all</a>
                                    </li>
                                    <li class="category">
                                        <div class="media">
                                            <a class="media-left" href="product-category.html">
                                                <img data-echo="assets/images/products/4.jpg" src="assets/images/blank.gif" alt="">
                                            </a><!-- /.media-left -->

                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="product-category.html">Home Entertainment</a></h4>
                                                <ul class="sub-categories list-unstyled">
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Accessories</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Chargers</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Powerbanks</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Smartphones</a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.media-body -->
                                        </div><!-- /.media -->
                                        <a class="see-all" href="#">See all</a>
                                    </li>
                                    <li class="category">
                                        <div class="media">
                                            <a class="media-left" href="product-category.html">
                                                <img data-echo="assets/images/products/5.jpg" src="assets/images/blank.gif" alt="">
                                            </a><!-- /.media-left -->

                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="product-category.html">Laptops & Computers</a></h4>
                                                <ul class="sub-categories list-unstyled">
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Accessories</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Chargers</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Powerbanks</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Smartphones</a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.media-body -->
                                        </div><!-- /.media -->
                                        <a class="see-all" href="#">See all</a>
                                    </li>
                                    <li class="category">
                                        <div class="media">
                                            <a class="media-left" href="product-category.html">
                                                <img data-echo="assets/images/products/6.jpg" src="assets/images/blank.gif" alt="">
                                            </a><!-- /.media-left -->

                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="product-category.html">Accessories</a></h4>
                                                <ul class="sub-categories list-unstyled">
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Accessories</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Chargers</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Powerbanks</a>
                                                    </li>
                                                    <li class="cat-item">
                                                        <a href="product-category.html" >Smartphones</a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.media-body -->
                                        </div><!-- /.media -->
                                        <a class="see-all" href="#">See all</a>
                                    </li>
                                </ul>
                            </section>
                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div><!-- .container -->
            </div><!-- #content -->










            
            
            <div th:replace="commons :: footer"></div>

        </div><!-- #page -->



    </body>
</html>
