<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Login</title>


	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    
   
    
    

    <!-- Animation library for notifications   -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet" type="text/css"/>
    

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{/css/paper-dashboard.css}" rel="stylesheet" type="text/css"/>
    
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css"/>
    
    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link th:href="@{/css/themify-icons.css}" rel="stylesheet" type="text/css"/>
   
    
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color:black;">


<div class="content">
            <div class="container-fluid">




		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<img th:src="@{/images/event_logo.jpg}"
					class="img-responsive center-block" width="400" height="400"
					alt="Logo" />
				<div class="card">
					<div class="header">
						<h4 class="title">Login</h4>
					</div>
					<div class="content">





						<form th:action="@{/login}" method="POST">
							<div class="row">
								<div class="col-md-12">


									<div class="form-group">
										<label for="exampleInputEmail1">Email address</label> <input
											type="email" name="email"  id="email" class="form-control border-input"
											placeholder="Email">
									</div>

									<div class="form-group">
										<label for="exampleInputEmail1">Password</label> <input
											type="password" name="password" id="password" class="form-control border-input"
											placeholder="Password">
									</div>


<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>

								</div>


							</div>



							<div class="text-center">
							
								
								
								<button type="submit" class="btn btn-info btn-fill btn-wd" name="Submit"
								value="Login">Login</button>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
