
<div th:fragment="header">


    <!-- Bootstrap core CSS     -->

	<link th:href="@{/adminDash/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Animation library for notifications   -->
    
    <link th:href="@{/adminDash/css/animate.min.css}" rel="stylesheet" type="text/css"/>

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{/adminDash/css/paper-dashboard.css}" rel="stylesheet" type="text/css"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{/adminDash/css/demo.css}" rel="stylesheet" type="text/css"/>

    <!--  Fonts and icons     -->
    <link th:href="@{/adminDash/css/themify-icons.css}" rel="stylesheet" type="text/css"/>
    
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    </div>