<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="assets/img/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Admin Panel - Dashboard</title>

<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />

<div th:replace="dash/header :: header"></div>

</head>
<body>

	<div class="wrapper">
		<div th:replace="dash/sidebar :: sidebar"></div>

		<div class="main-panel">
			<div th:replace="dash/navbar :: navbar"></div>


			<div class="content">
				<div class="container-fluid">
					<div class="row">

						<div class="col-lg-12 col-md-12">
							<div class="card">

								<div class="content">
									<form th:action="@{/dashboard/charges/add}"
										method="post" enctype="multipart/form-data">

										<div class="row">

											<div class="col-md-12">
												<div class="form-group">
													<label>Vendor Discount</label>
													<input type="text"
														class="form-control border-input"
                                                           th:field="${charge.vendorDiscount}"
														  placeholder="Vendor Discount">
												</div>
											</div>

										</div>


                                        <hr>
                                        <div class="header">
                                            <h4 class="title">Service Charges</h4>
                                        </div>
                                        <br>

										<div class="row">


											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 1 Upper Limit</label>
													<input type="text"
														   class="form-control border-input"
                                                           th:field="${charge.serviceChargeTire1UpperLimit}"
														    placeholder="Service Charge Tire 1 Upper Limit">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 1 Lower Limit</label>
													<input type="text"
														   class="form-control border-input"
                                                           th:field="${charge.serviceChargeTire1LowerLimit}"
														  placeholder="Service Charge Tire 1 Lower Limit">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 1 </label>
													<input type="text"
														   class="form-control border-input"
                                                           th:field="${charge.serviceChargeTire1LowerLimit}"
														    th:field="${charge.serviceChargeTire1}" placeholder="Tire 1 Service Charge">
												</div>
											</div>

										</div>
										<div class="row">


											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 2 Upper Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Service Charge Tire 2 Upper Limit" th:field="${charge.serviceChargeTire2UpperLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 2 Lower Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Service Charge Tire 2 Lower Limit" th:field="${charge.serviceChargeTire2LowerLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 2</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Tire 2 Service Charge" th:field="${charge.serviceChargeTire2}">
												</div>
											</div>

										</div>
										<div class="row">


											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 3 Upper Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Service Charge Tire 3 Upper Limit" th:field="${charge.serviceChargeTire3UpperLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 3 Lower Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Service Charge Tire 3 Lower Limit" th:field="${charge.serviceChargeTire3LowerLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Service Charge Tire 3</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Tire 3 Service Charge" th:field="${charge.serviceChargeTire3}">
												</div>
											</div>

										</div>


                                        <hr>
                                        <div class="header">
                                            <h4 class="title">Delivery Charges</h4>
                                        </div>
                                        <br>


										<div class="row">


											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 1 Upper Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Delivery Charge Tire 1 Upper Limit" th:field="${charge.deliveryChargeTire1UpperLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 1 Lower Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Delivery Charge Tire 1 Lower Limit" th:field="${charge.deliveryChargeTire1LowerLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 1 </label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Tire 1 Delivery Charge" th:field="${charge.deliveryChargeTire1}">
												</div>
											</div>

										</div>
										<div class="row">


											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 2 Upper Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Delivery Charge Tire 2 Upper Limit" th:field="${charge.deliveryChargeTire2UpperLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 2 Lower Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Delivery Charge Tire 2 Lower Limit" th:field="${charge.deliveryChargeTire2LowerLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 2</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Tire 2 Delivery Charge" th:field="${charge.deliveryChargeTire2}">
												</div>
											</div>

										</div>
										<div class="row">


											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 3 Upper Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Delivery Charge Tire 3 Upper Limit" th:field="${charge.deliveryChargeTire3UpperLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 3 Lower Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Delivery Charge Tire 3 Lower Limit" th:field="${charge.deliveryChargeTire3LowerLimit}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Delivery Charge Tire 3</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Tire 3 Delivery Charge" th:field="${charge.deliveryChargeTire3}">
												</div>
											</div>

										</div>




                                        <hr>
                                        <div class="header">
                                            <h4 class="title">Lead Time Price Difference Charges</h4>
                                        </div>
                                        <br>


										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Lead Time Price Difference Tire 1 Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Service Charge Tire 1 Limit" th:field="${charge.extra_charge_tier_1_days}">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Lead Time Price Difference Charge Tire 1</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Tire 1 Service Charge" th:field="${charge.extra_charge_tier_1_charge_percentage}">
												</div>
											</div>

										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Lead Time Price Difference Tire 2 Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Service Charge Tire 2 Limit" th:field="${charge.extra_charge_tier_2_days}">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Lead Time Price Difference Charge Tire 2</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Tire 2 Service Charge" th:field="${charge.extra_charge_tier_2_charge_percentage}">
												</div>
											</div>

										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Lead Time Price Difference Tire 3 Limit</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Service Charge Tire 3 Limit" th:field="${charge.extra_charge_tier_3_days}">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Lead Time Price Difference Charge Tire 3</label>
													<input type="text"
														   class="form-control border-input"
														   placeholder="Tire 3 Service Charge" th:field="${charge.extra_charge_tier_3_charge_percentage}">
												</div>
											</div>

										</div>


										<div class="row">

											<div class="col-md-12">

												<div class="content">
													<div class="alert alert-success" th:if="${m != null && m == 0}">
														
														<span th:text="${message}">Successful!</span>
													</div>

													<div class="alert alert-danger" th:if="${m != null && m == 1}">
												
														<span  th:text="${message}"> Un successful</span>
													</div>
												</div>
											</div>
										</div>







										<div class="text-center">
											<button type="submit" value="Submit"
												class="btn btn-info btn-fill btn-wd">Update</button>
										</div>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


			<div th:replace="dash/footer :: footer"></div>
		</div>

	</div>
</body>



</html>
