<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76"
          href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Admin Panel - Dashboard</title>

    <meta
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
            name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <div th:replace="dash/header :: header"></div>


    <style>
        .pagination-centered {
            text-align: center;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        .pointer-disabled {
            pointer-events: none;
        }
    </style>


</head>
<body>

<div class="wrapper">
    <div th:replace="dash/sidebar :: sidebar"></div>

    <div class="main-panel">
        <div th:replace="dash/navbar :: navbar"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Charges</h4>

                            </div>
                            <div class="content table-responsive table-full-width" style="padding-left: 20px; padding-right: 20px">

                                <h4 style="padding-left: 30px; padding-right: 30px">Delivery Charges</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <th>Tire</th>
                                    <th>Lower Limit</th>
                                    <th>Upper Limitm</th>
                                    <th>Charge</th>

                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>1</td>
                                        <td th:text="${charges.deliveryChargeTire1LowerLimit}">Text ...</td>
                                        <td th:text="${charges.deliveryChargeTire1UpperLimit}">Text ...</td>
                                        <td th:text="${charges.deliveryChargeTire1}">Text ...</td>

                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td th:text="${charges.deliveryChargeTire2LowerLimit}">Text ...</td>
                                        <td th:text="${charges.deliveryChargeTire2UpperLimit}">Text ...</td>
                                        <td th:text="${charges.deliveryChargeTire2}">Text ...</td>

                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td th:text="${charges.deliveryChargeTire3LowerLimit}">Text ...</td>
                                        <td th:text="${charges.deliveryChargeTire3UpperLimit}">Text ...</td>
                                        <td th:text="${charges.deliveryChargeTire3}">Text ...</td>

                                    </tr>


                                    </tbody>
                                </table>

                            </div>





                            <div class="content table-responsive table-full-width" style="padding-left: 20px; padding-right: 20px">

                                <h4 style="padding-left: 30px; padding-right: 30px">Service Charges</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <th>Tire</th>
                                    <th>Lower Limit</th>
                                    <th>Upper Limitm</th>
                                    <th>Charge</th>

                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>1</td>
                                        <td th:text="${charges.serviceChargeTire1LowerLimit}">Text ...</td>
                                        <td th:text="${charges.serviceChargeTire1UpperLimit}">Text ...</td>
                                        <td th:text="${charges.serviceChargeTire1}">Text ...</td>

                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td th:text="${charges.serviceChargeTire2LowerLimit}">Text ...</td>
                                        <td th:text="${charges.serviceChargeTire2UpperLimit}">Text ...</td>
                                        <td th:text="${charges.serviceChargeTire2}">Text ...</td>

                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td th:text="${charges.serviceChargeTire3LowerLimit}">Text ...</td>
                                        <td th:text="${charges.serviceChargeTire3UpperLimit}">Text ...</td>
                                        <td th:text="${charges.serviceChargeTire3}">Text ...</td>

                                    </tr>


                                    </tbody>
                                </table>

                            </div>




                            <div class="content table-responsive table-full-width" style="padding-left: 20px; padding-right: 20px">

                                <h4 style="padding-left: 30px; padding-right: 30px">Lead Time Difference Charges</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <th>Tire</th>
                                    <th> Limit</th>

                                    <th>Charge</th>

                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>1</td>
                                        <td th:text="${charges.extra_charge_tier_1_days}">Text ...</td>

                                        <td th:text="${charges.extra_charge_tier_1_charge_percentage}">Text ...</td>

                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td th:text="${charges.extra_charge_tier_2_days}">Text ...</td>

                                        <td th:text="${charges.extra_charge_tier_2_charge_percentage}">Text ...</td>

                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td th:text="${charges.extra_charge_tier_3_days}">Text ...</td>

                                        <td th:text="${charges.extra_charge_tier_3_charge_percentage}">Text ...</td>

                                    </tr>


                                    </tbody>
                                </table>

                            </div>




                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div th:replace="dash/footer :: footer"></div>
    </div>

</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        changePageAndSize();
    });

    function changePageAndSize() {


        $('#pageSizeSelect').change(function (evt) {
            var baseUrl = /*[[${baseUrl}]]*/ '';
            window.location.replace(baseUrl + "?pageSize=" + this.value + "&page=1");
        });
    }

    /*]]>*/
</script>

</body>


</html>
